In [1]:
# Import the json module
import json
# Assign the string data to a variable
data = "{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}"
data = data.replace("'", '"')
print(data)

# Convert the string data to a dictionary
converted_data = json.loads(data)
#Iterate through the dictionary (row) and get the values
row_values = [v for k, v in converted_data.items()]
print(row_values)
#data = data.replace("'", '"')
#print(data)

{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']

In [2]:
dict_data = {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}


#Iterate through the dictionary (row) and get the values
row_values = [v for k, v in dict_data.items()]
print(row_values)

[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']

In [3]:
# Import the regular expression module
import re
# Assign the string to a variable
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"
# Extract the four digit number
contact_id = re.findall(r'(\d{4})', string_data)
print(contact_id)

['4661']

In [17]:
# Import the Pandas dependency
import pandas as pd

# read the contacts string data into a dataframe
contacts_string_df = pd.read_csv("../contacts_string_data.csv")
contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...